
.App h1{
position: absolute;
width: 600px;
height: 144px;
left: 198px;
top: 120px;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 50px;
line-height: 77px;
color: #FFFFFF;

}
#num1{
  box-sizing: border-box;
  position: absolute;
  left:198px ;
  top: 248px ;
  width: 290px;
  height: 50px;
  color: #FFFFFF;
  background-color: black;
  border: 2px solid #FFFFFF;
}
#num2{
  box-sizing: border-box;
  position: absolute;
  left:198px ;
  top: 333px ;
  width: 290px;
  height: 50px;
  color: #FFFFFF;
  background-color: black;
  border: 2px solid #FFFFFF;
}
#addButtons{
position: absolute;
width: 61px;
height: 61px;
left: 200px;
top: 418px;
background: #FFFFFF;
font-size: 25px;
}

#subButtons{
  position: absolute;
  width: 61px;
  height: 61px;
  left: 275px;
  top: 418px;
  background: #FFFFFF;
  font-size: 25px;
}
#multiButtons{
  position: absolute;
  width: 61px;
  height: 61px;
  left: 350px;
  top: 418px;
  background: #FFFFFF;
  font-size: 25px;
}
#divButtons{

position: absolute;
width: 61px;
height: 61px;
left: 425px;
top: 418px;
background: #FFFFFF;
font-size: 25px;
}
.App h2{
  color: #FFFFFF;
  position: absolute;
width: 93px;
height: 29px;
left: 211px;
top: 524px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;
color: #FFFFFF;

}
.App p{
  position: absolute;
  width: 600px;
height: 144px;
left: 198px;
top: 599px;
font-family: 'Inter', sans-serif;
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 29px;

}